<?xml version="1.0"?>
<config>
    <modules>
        <Fp_Followprice>
            <version>1.0.8.0</version>
        </Fp_Followprice>
    </modules>
    <default>
        <Fp_Followprice_Config>
            <section_one>
                <Fp_Followprice_Key></Fp_Followprice_Key>
                <Fp_Followprice_Enable>1</Fp_Followprice_Enable>
            </section_one>
            <section_two>
                <Fp_Followprice_Position>1</Fp_Followprice_Position>
                <Fp_Followprice_Allignment></Fp_Followprice_Allignment>
                <Fp_Followprice_Margin_Top>0</Fp_Followprice_Margin_Top>
                <Fp_Followprice_Margin_Right>0</Fp_Followprice_Margin_Right>
                <Fp_Followprice_Margin_Bottom>0</Fp_Followprice_Margin_Bottom>
                <Fp_Followprice_Margin_Left>0</Fp_Followprice_Margin_Left>
                <Fp_Followprice_Custom_Css></Fp_Followprice_Custom_Css>
            </section_two>
            <section_three>
                <Fp_Followprice_Enablelist>0</Fp_Followprice_Enablelist>
                <Fp_Followprice_Style></Fp_Followprice_Style>
                <Fp_Followprice_Allignmentlist></Fp_Followprice_Allignmentlist>
                <Fp_Followprice_Margin_Toplist>0</Fp_Followprice_Margin_Toplist>
                <Fp_Followprice_Margin_Rightlist>0</Fp_Followprice_Margin_Rightlist>
                <Fp_Followprice_Margin_Bottomlist>0</Fp_Followprice_Margin_Bottomlist>
                <Fp_Followprice_Margin_Leftlist>0</Fp_Followprice_Margin_Leftlist>
            </section_three>
        </Fp_Followprice_Config>
    </default>
    <global>
        <blocks>
            <Fp_Followprice>
                <class>Fp_Followprice_Block</class>
            </Fp_Followprice>
        </blocks>
        <helpers>
            <Fp_Followprice>
                <class>Fp_Followprice_Helper</class>
            </Fp_Followprice>
        </helpers>
        <models>
            <Fp_Followprice>
                <class>Fp_Followprice_Model</class>
            </Fp_Followprice>
        </models>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <create_list>
                        <class>Fp_Followprice_Model_Observer</class>
                        <method>createList</method>
                    </create_list>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </global>
    <adminhtml>
        <menu>
            <report>
                <children>
                    <followprice>
                        <title>Followprice</title>
                        <sort_order>0</sort_order>
                        <action>followpricedashboard</action>
                    </followprice>
                </children>
            </report>
        </menu>
        <layout>
            <updates>
                <followprice>
                    <file>followprice.xml</file>
                </followprice>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <followprice>
                <use>admin</use>
                <args>
                    <module>Fp_Followprice</module>
                    <frontName>followpricedashboard</frontName>
                </args>
            </followprice>
        </routers>
    </admin>
    <frontend>
        <routers>
            <followprice> 
                <use>standard</use>
                <args>
                    <module>Fp_Followprice</module>
                    <frontName>followprice</frontName>
                </args>
            </followprice>
        </routers>
        <layout>
            <updates>
                <followprice>
                    <file>fp/followprice.xml</file>
                </followprice>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <Fp_Followprice_Config>
                                            <title>Followprice Configuration</title>
                                        </Fp_Followprice_Config>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>