<?xml version="1.0"?>
<config>
    <modules>
        <Fp_Followprice>
            <version>1.0.0.0</version>
        </Fp_Followprice>
    </modules>
    <global>
        <blocks>
            <Fp_Followprice>
                <class>Fp_Followprice_Block</class>
            </Fp_Followprice>
        </blocks>
        <helpers>
            <Fp_Followprice>
                <class>Fp_Followprice_Helper</class>
            </Fp_Followprice>
        </helpers>
        <models>
            <Fp_Followprice>
                <class>Fp_Followprice_Model</class>
            </Fp_Followprice>
        </models>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <create_list>
                        <class>Fp_Followprice_Model_Observer</class>
                        <method>createList</method>
                    </create_list>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </global>
    <adminhtml>
        <menu>
            <report>
                <children>
                    <followprice>
                        <title>Followprice</title>
                        <sort_order>0</sort_order>
                        <action>followpricedashboard</action>
                    </followprice>
                </children>
            </report>
        </menu>
    </adminhtml>
    <admin>
        <routers>
            <followprice>
                <use>admin</use>
                <args>
                    <module>Fp_Followprice</module>
                    <frontName>followpricedashboard</frontName>
                </args>
            </followprice>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <Fp_Followprice>
                    <file>fp/followprice.xml</file>
                </Fp_Followprice>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <Fp_Followprice_Config>
                                            <title>Followprice Configuration</title>
                                        </Fp_Followprice_Config>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>